.recipe{
    border: 1px solid #F9EDD8;
    background-color: #F9EDD8;
    width: 70%;
    margin: 20px auto;
    
    font-family: monospace;
    
   
    
}
h2{
    background-color:#F49C8D;
    height: 70px;
    width: 85%;
    border-radius: 0 40px 30px 0;
     font-style: italic;
   font-family: cursive;
     padding: 20px 0 0 10px;

}
.ingredients{
    display: flex;
    padding: 10px;
}

li{
    padding-left: 0;
    margin: 0;
    list-style: disc;
}

h4{
    color: #459666;
   
}

ol>li{
    list-style: square;
    color: black;
}

.list>li{
    list-style: decimal;

}

image{
 height: 100%;
}

@media only screen and (max-width: 600px) {
    .recipe{
        border: 1px solid #F9EDD8;
        background-color: #F9EDD8;
        width: 100%;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: monospace;
        
       
        
    }
    image{
        width: 100px;
       }

       .ingredients{
        display: flex;
        padding: 10px;
        flex-direction: column;
    }
       
  }




